asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
bottle==0.12.13
bpytop==1.0.54
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.11
click==6.7
cloud-init==21.4
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
cycler==0.10.0
daiquiri==3.0.1
distro-info===0.18ubuntu0.18.04.1
docker==2.5.1
docker-pycreds==0.2.1
duplicity==0.8.21
fasteners==0.12.0
future==0.15.2
Glances==2.11.1
httplib2==0.9.2
huawei-modem-api-client==1.1.2
hyperlink==17.3.1
idna==3.3
incremental==16.10.1
influxdb==4.1.1
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.0
matplotlib==2.1.1
monotonic==1.0
netifaces==0.10.4
numpy==1.13.3
oauthlib==2.0.6
olefile==0.45.1
PAM==0.4.2
pexpect==4.2.1
Pillow==5.1.0
ply==3.11
psutil==5.8.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pycryptodomex==3.4.7
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyserial==3.4
pysmi==0.2.2
pysnmp==4.4.3
pystache==0.5.4
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.6.1
python-debian==0.1.32
python-gammu==2.11
python-json-logger==2.0.2
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
requests==2.27.1
requests-unixsocket==0.1.5
SecretStorage==2.3.1
service-identity==16.0.0
six==1.16.0
sos==4.1
speedtest-cli==2.0.0
ssh-import-id==5.7
systemd-python==234
Twisted==17.9.0
typing==3.7.4.3
ubuntu-advantage-tools==27.4
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.8
websocket-client==0.44.0
zope.interface==4.3.2
